<configuration>

    <!-- error log start -->
    <appender name="ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/error.log.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}|%level|%logger{1}|%msg%n</pattern>
        </encoder>
    </appender>

    <logger name="error" level="INFO" additivity="false">
        <appender-ref ref="ERROR"/>
    </logger>
    <!-- error log end -->

    <!--stdout log start -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!--<file>logs/stdout.log</file>-->
        <!--<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
            <!--<fileNamePattern>logs/stdout.log.%d{yyyy-MM-dd}.gz</fileNamePattern>-->
            <!--<maxHistory>7</maxHistory>-->
        <!--</rollingPolicy>-->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}|%level|%logger{1}|%msg%n</pattern>
        </encoder>
    </appender>
    <!--<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}|%level|%logger{1}|%msg%n</pattern>
        </encoder>
    </appender>-->

    <logger name="stdout" level="INFO" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
    <!-- stdout log end -->

    <!-- stdout log start -->
    <appender name="ACCESS" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/access.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/access.log.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}|%msg%n</pattern>
        </encoder>
    </appender>

    <logger name="access" level="INFO" additivity="false">
        <appender-ref ref="ACCESS"/>
    </logger>
    <!-- stdout log end -->

    <!-- stdout log start -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}|%msg%n</pattern>
        </encoder>
    </appender>

    <logger name="console" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <!-- stdout log end -->

    <!-- metrics log start -->
    <appender name="METRICS" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/metrics.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/metrics.log.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>15</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}|%msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.xueqiu.infra.xcommon.XueqiuMetrics" level="INFO" additivity="false">
        <appender-ref ref="METRICS"/>
    </logger>
    <!-- metrics log end -->

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="CONSOLE"/>

    </root>

</configuration>